/* Media query = regra especial */
/* 
      @media condicao {
          => estilos a serem aplicados quando a condição for verdadeira
      }
  */

/* Se a largura estiver no máximo 599px aplica-se o estilo */
@media (max-width: 480px) {
  body {
    background-color: red;
  }

  /* .navbar img {
      display: none;
    } */
}

/* 
  min-width: a partir de 481px
  max-width: até 768px
  */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: orange;
  }
}

/* A partir de 769px */
@media (min-width: 769px) and (max-width: 1200px) {
  body {
    background-color: pink;
  }
}
