* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #0b0f19;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 12px;
}

.navbar img {
  height: 100%;
}

.nav-links {
  display: flex;
  gap: 12px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #d9b800;
}

@media (max-width: 480px) {
  /* trocar a navbar de row para column */
  /* redefinir altura da navbar */
  /* alinhar os elementos */
  .navbar {
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 12px;
  }

  /* ajustar a largura */
  .navbar img {
    width: 156px;
  }

  /* row para column */
  .nav-links {
    flex-direction: column;
  }
}

/* Seção de cards responsivos */
.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.section-card {
  width: 320px;
  display: flex;
  padding: 16px;
  gap: 16px;
  background-color: wheat;
}

.section-card img {
  width: 120px;
}

.section-card p {
  display: flex;
  align-items: center;
  text-align: justify;
}

@media (max-width: 768px) {
  .section-card {
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 0;
  }

  .section-card img {
    width: 100%;
  }

  .section-card p {
    padding: 16px;
    text-align: center;
  }
}
