* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 243, 243);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h1 {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  color: darkblue;
  text-align: center;
}

h3 {
  color: dodgerblue;
  margin-left: 32px;
}

a {
  text-decoration: none;
  padding-right: 12px;
  font-weight: 600;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

img {
  width: 240px;
  border-radius: 16px;
}

header {
  background-color: cornflowerblue;
  text-align: center;
  padding: 16px;
  margin-bottom: 16px;
}

.copyright {
  text-align: center;
  padding: 16px;
  background-color: cornflowerblue;
  color: aliceblue;
  margin-top: 32px;
}

.text {
  margin-left: 32px;
  margin-bottom: 16px;
}

.links {
  margin-left: 32px;
  margin-bottom: 16px;
}

li {
  list-style-type: none;
}

.contato {
  margin-left: 32px;
}

section,
.nav-links {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
}
