.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.card {
  flex: 0 0 25rem;
  margin: 0.625rem;
  box-shadow: #3a1078 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.5rem;
}
.card img {
  max-width: 100%;
}

.card-content {
  padding: 1.25rem;
}

.card-game-name {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: #3a1078;
  font-weight: 700;
}

.card-description {
  text-align: justify;
}

.card-btn {
  background: #3a1078;
  border: 0;
  color: white;
  padding: 0.625rem;
  width: 100%;
  margin-top: 1.25rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}
