/* footer {
  height: 3rem;
  background-color: #3a1078;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
} */

footer {
  background-color: #3a1078;
}
