nav {
  height: 3.75rem;
  background-color: #3a1078;
  color: #fff;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 3.5rem;
}

.section-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

li {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.btn {
  all: unset;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  color: #985ad7;
}

.section-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.section-links a:hover {
  color: #985ad7;
}
